.row
  .span6
    .well
      %b Designed for
      #designed_for.edit= session[:designed_for].try(:html_safe)
      
  .span6
    .well
      %b Designed by
      #designed_by.edit= session[:designed_by].try(:html_safe)

.board-outline.resizable.ui-widget-content
  #board
    #board-doodles
    %img#marker.ui-draggable
      %img#eraser.ui-draggable
        %table.board-table
          %tbody
            %tr
              %td.col.first{:rowspan => 3, :style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= t(".key_partners")
                  %span.icon= image_tag "partners.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul
                
              %td.col{:style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= t(".key_activities")
                  %span.icon= image_tag "key_activities.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul
              
              %td.col{:rowspan => 3, :style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= t(".value_propositions")
                  %span.icon= image_tag "value_proposition.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul
                
              %td.col{:style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= t(".customer_relationships")
                  %span.icon= image_tag "customer_relationships.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul

              %td.col{:rowspan => 3, :style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= t(".customer_segments")
                  %span.icon= image_tag "customer.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
            
                %ul
            
            %tr
              %td.separator
              %td.separator
                
            %tr
              %td.col{:style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= t(".key_resources")
                  %span.icon= image_tag "key_resources.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul
                
              %td.col{:style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= t(".channels")
                  %span.icon= image_tag "channels.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul
           
            %tr
              %td.separator{:colspan => 5}
              
            %tr
              %td{:colspan => 5}
                %table.embedded-table
                  %tbody
                    %tr
                      %td.first.col{:style => "", :width => "10%"}
                        %h2.editable{:style => ""} 
                          %span= t(".cost_structure")
                          %span.icon= image_tag "cost_structure.png"
                          
                        %span
                          = link_to "Add card", "#", :class => "add_card"
                      
                        %ul
                        
                      %td.col{:style => "", :width => "10%"}
                        %h2.editable{:style => ""} 
                          %span= t(".revenue_streams")
                          %span.icon= image_tag "revenue_streams.png"
                          
                        %span
                          = link_to "Add card", "#", :class => "add_card"
                      
                        %ul

        