.board-outline
  #board
    %img#marker
      %img#eraser
        %table.board-table
          %tbody
            %tr
              %td.col.section{:rowspan => 3, :style => "", :width => "10%"}
                %h2 
                  %span.section-title= t("boards.show.#{@section_name}")
                  %span.icon= image_tag "#{current_host}/images/#{@section_name}.png"
                  
                %ul
                  = render :partial => "cards", :collection => @cards, :as => :card,
                           :locals => {:left => "section_left", :top => "section_top"}