= hidden_field_tag :board_key, current_board.key, :id => 'board_key' 
= hidden_field_tag :page, "section", :id => "page"

= link_to image_tag("left.png"), board_path(current_board.key)

.board-outline.resizable.ui-widget-content
  #board
    #board-doodles
    %img#marker.ui-draggable
      %img#eraser.ui-draggable
        %table.board-table
          %tbody
            %tr
              %td.col.section{:rowspan => 3, :style => "", :width => "10%", :id => @section_name}
                %h2 
                  %span.section-title= t(".#{@section_name}")
                  %span.icon= image_tag "#{@section_name}.png"
                  
                %span
                  = link_to t(".add_card"), "#", :class => "add_card"
              
                %ul
                  = render :partial => "cards", :collection => @cards, :as => :card,
                           :locals => {:left => "section_left", :top => "section_top"}

= render 'cards/comments' 