.row
  .span6
    .well
      %b Designed for
      #designed_for.edit= @board.designed_for
      
  .span6
    .well
      %b Designed by
      #designed_by.edit= @board.designed_by

= hidden_field_tag :board_id, @board.id, :id => "board_id" 
= hidden_field_tag :page, "board", :id => "page"

.board-outline.resizable.ui-widget-content
  #board
    #board-doodles
    %img#marker.ui-draggable
      %img#eraser.ui-draggable
        %table.board-table
          %tbody
            %tr
              %td#key_partners.col.first{:rowspan => 3, :style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= link_to t(".key_partners"), section_path(@board.key, :key_partners)
                  %span.icon= image_tag "key_partners.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
                
                %ul
                  = render :partial => "cards", :collection => @cards["key_partners"] || [], :as => :card, 
                           :locals => {:left => :board_left, :top => :board_top}
                
              %td#key_activities.col{:style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= link_to t(".key_activities"), section_path(@board.key, :key_activities)
                  %span.icon= image_tag "key_activities.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul
                  = render :partial => "cards", :collection => @cards["key_activities"] || [], :as => :card, 
                           :locals => {:left => :board_left, :top => :board_top}
              
              %td#value_propositions.col{:rowspan => 3, :style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= link_to t(".value_propositions"), section_path(@board.key, :value_propositions)
                  %span.icon= image_tag "value_proposition.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul
                  = render :partial => "cards", :collection => @cards["value_propositions"] || [], :as => :card, 
                           :locals => {:left => :board_left, :top => :board_top}
                  
              %td#customer_relationships.col{:style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= link_to t(".customer_relationships"), section_path(@board.key, :customer_relationships)
                  %span.icon= image_tag "customer_relationships.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul
                  = render :partial => "cards", :collection => @cards["customer_relationships"] || [], :as => :card, 
                           :locals => {:left => :board_left, :top => :board_top}

              %td#customer_segments.col{:rowspan => 3, :style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= link_to t(".customer_segments"), section_path(@board.key, :customer_segments)
                  %span.icon= image_tag "customer_segments.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
            
                %ul
                  = render :partial => "cards", :collection => @cards["customer_segments"] || [], :as => :card, 
                           :locals => {:left => :board_left, :top => :board_top}
            
            %tr
              %td.separator
              %td.separator
                
            %tr
              %td#key_resources.col{:style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= link_to t(".key_resources"), section_path(@board.key, :key_resources)
                  %span.icon= image_tag "key_resources.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul
                  = render :partial => "cards", :collection => @cards["key_resources"] || [], :as => :card, 
                           :locals => {:left => :board_left, :top => :board_top}
                  
              %td#channels.col{:style => "", :width => "10%"}
                %h2.editable{:style => ""} 
                  %span= link_to t(".channels"), section_path(@board.key, :channels)
                  %span.icon= image_tag "channels.png"
                  
                %span
                  = link_to "Add card", "#", :class => "add_card"
              
                %ul
                  = render :partial => "cards", :collection => @cards["channels"] || [], :as => :card, 
                           :locals => {:left => :board_left, :top => :board_top}
           
            %tr
              %td.separator{:colspan => 5}
              
            %tr
              %td{:colspan => 5}
                %table.embedded-table
                  %tbody
                    %tr
                      %td#cost_structure.first.col{:style => "", :width => "10%"}
                        %h2.editable{:style => ""} 
                          %span= link_to t(".cost_structure"), section_path(@board.key, :cost_structure)
                          %span.icon= image_tag "cost_structure.png"
                          
                        %span
                          = link_to "Add card", "#", :class => "add_card"
                      
                        %ul
                          = render :partial => "cards", :collection => @cards["cost_structure"] || [], :as => :card, 
                           :locals => {:left => :board_left, :top => :board_top}
                        
                      %td#revenue_streams.col{:style => "", :width => "10%"}
                        %h2.editable{:style => ""} 
                          %span= link_to t(".revenue_streams"), section_path(@board.key, :revenue_streams)
                          %span.icon= image_tag "revenue_streams.png"
                          
                        %span
                          = link_to "Add card", "#", :class => "add_card"
                      
                        %ul
                          = render :partial => "cards", :collection => @cards["revenue_streams"] || [], :as => :card, 
                           :locals => {:left => :board_left, :top => :board_top}

        