#login.modal.hide.fade.in{dir: language_direction}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3= t("layouts.header.login")
    
  .modal-body
    .login-form
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f|
        %fieldset
          .control-group
            = f.label :email, class: 'control-label'
            .controls
              = f.email_field :email
              
          .control-group
            = f.label :password, class: 'control-label'
            .controls
              = f.password_field :password
              
          .control-group
            = f.label :remember_me, class: 'control-label'
            .controls.remember-me
              = f.check_box :remember_me
              
          = f.submit t('.signin'), class: 'btn btn-primary'
        = render 'devise/shared/links'
     
    .login-services
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-horizontal'}) do |f|
        %fieldset
          .control-group
            = f.label :email, class: 'control-label'
            .controls
              = f.email_field :email
              
          .control-group
            = f.label :password, class: 'control-label'
            .controls
              = f.password_field :password
              
          .control-group
            = f.label :password_confirmation, class: 'control-label'
            .controls
              = f.password_field :password_confirmation
              
        = f.submit t('.sign_up'), class: 'btn btn-primary'
        
      = link_to(image_tag('google.png'), user_omniauth_authorize_path(:google_oauth2))
      = link_to(image_tag('facebook.png'), user_omniauth_authorize_path(:facebook))
                
