!!!
%html
  %head
    %title Business Model Canvas
    = stylesheet_link_tag    "application", "style_#{language_direction}", :media => "all"
    = javascript_include_tag "application", "jquery.jeditable.mini", "jquery.ui.core", "jquery.ui.widget"
    = javascript_include_tag "jquery.ui.mouse", "jquery.ui.resizable", "jquery.ui.draggable", "jquery.ui.droppable"
  
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Reenie+Beanie:regular", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Rock+Salt", :rel => "stylesheet", :type => "text/css"}
    
  %body{dir: language_direction}
    = render 'layouts/header'
    
    .container.content
      .row
        .span12
          - flash.each do |key ,value|
            %div{class: "alert fade in alert-#{alert_type(key)}"}
              %a.close{'data-dismiss' => 'alert', href: '#'} ×
              = value
              
          = yield
    
